<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:macro name="HURCRover_ros2_control" params="name initial_positions_file">
        <xacro:property name="initial_positions" value="${load_yaml(initial_positions_file)['initial_positions']}"/>

        <ros2_control name="${name}" type="system">
            <hardware>
                <!-- By default, set up controllers for simulation. This won't work on real hardware -->
                <plugin>mock_components/GenericSystem</plugin>
            </hardware>
            <joint name="Arm_Base_Rotate">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['Arm_Base_Rotate']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="Arm_Shoulder">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['Arm_Shoulder']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="Arm_Elbow_Tilt">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['Arm_Elbow_Tilt']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="Arm_Elbow_Rotate">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['Arm_Elbow_Rotate']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="Arm_Wrist_Tilt">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['Arm_Wrist_Tilt']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="Arm_Wrist_Rotate">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['Arm_Wrist_Rotate']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>

        </ros2_control>
    </xacro:macro>
</robot>
